   <div id="about">
    <p>Share more, experience more.</p>
       <div class="photobox"></div>
       <div class="photobox"></div>
       <div class="photobox"></div>
   </div>

   <a href="/register"> <button>SIGN UP</button></a>
   <a href="/login"><button>SIGN IN</button></a>
