	<div id="about">
    <h2>Share more, experience more.</h2>

	<h4 id="aboutInfo">Cameraless Concerts relieves the pressure of taking photos at concerts, because more than likely someone else is already doing that for you. Our aim is to have collective sharing of concert photos so more time is spent enjoying the show.</h4>
    
    <div class="photobox"></div>
    <div class="photobox"></div>
    <div class="photobox"></div>
	</div>

   <a href="/register"> <button>SIGN UP</button></a>
   <a href="/login"><button>SIGN IN</button></a>
