   <div id="about">
    <p> Distillery ennui ethical butcher single-origin coffee lomo, af fanny pack offal schlitz before they sold out meggings. Glossier tofu kombucha selfies, gochujang organic four dollar toast austin tousled mixtape tumeric artisan hella chambray. Vape pork belly yr banjo pickled shabby chic. </p>
       <div class="photobox"></div>
       <div class="photobox"></div>
       <div class="photobox"></div>
   </div>
   <a href="/login"><button>SIGN IN</button></a>
   <a href="/register"> <button>SIGN UP</button></a>
