<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/styles/style.css' />
    <link rel='stylesheet' href='/styles/materialize.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
  </head>
  <header>
      <nav class="grey darken-2"></nav>
  </header>
  <body>
    {{{body}}}
  </body>
</html>
