<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <!--<link rel='stylesheet' href='/styles/materialize.css' />-->
        <link rel='stylesheet' href='/styles/style.css' />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,300" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
        <script src="/scripts/velocity.min.js"></script>
  </head>
  <header>
      <div id="nav-wrapper">
      <nav>
          <ul>
              <li><a href="/home">home</a></li>
              <li><a href="/photo/upload">upload</a></li>
              <li><a href="/login">login</a></li>
          </ul>
      </nav>
      </div>
      <h1>CAMERALESS CONCERTS</h1>
  </header>
  <body>
    {{{body}}}
  </body>
</html>
