<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/styles/style.css' />
    <link rel='stylesheet' href='/styles/materialize.css' />
  </head>
  <header>
      <nav class="grey darken-2"></nav>
  </header>
  <body>
    {{{body}}}
  </body>
</html>
