
        <form action="/login" method="post">
            <input type="text" name="user" placeholder="email or username">
            <input type="password" name="password" placeholder="password">
            <button>LOG IN</button>
            <p id="alertMessage">{{userRegisteredMessage}}{{incorrectPassword}}</p>
        </form>
    </body>

    <script>
        $('#alertMessage').velocity('fadeOut', { delay: 2000, duration: 1000 });
    </script>
