

        <form action="/register" method="post">
            <input type="email" name="email" placeholder="email">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <button>SIGN UP</button>
        </form>

