
    <form action="/" method="">
        <input type="text" name="artist" placeholder="artist" class="inputvalue">
        <input type="text" name="location" placeholder="location" class="inputvalue">

    </form>
    <button id ="search">SEARCH</button>
    <button id ="viewAll">VIEW ALL</button>
    <div id ='photos' ></div>
    <img src={{photo}}>
    <script src="scripts/photoajax.js"></script>