
    <p>{{message}}{{username}}</p>
    <form action="/" method="">
        <input type="text" name="artist" placeholder="artist" class="inputvalue">
        <input type="text" name="location" placeholder="location" class="inputvalue">

    </form>
    <button>SEARCH</button>
    <div id ='photos'></div>
    <img src={{photo}}>

    <script src="scripts/photoajax.js"></script>
