$primary-text-color: black;
$primary-background-black: white;

body  {
  padding: 1%;
  margin: 0;
  text-align: center;
  font: 16px 'Helvetica', Arial, sans-serif;
  color: $primary-text-color;
  background-color: $primary-background-black;
}
